<!--TODO: adjust title for grammar with Initiation form title -->
<div class="container">
  <div mat-dialog-title>
    <h3 *ngIf="isAdmin" class="text-center display-6">Create an Appointment</h3>
    <h3 *ngIf="!isAdmin" class="text-center display-6">
      {{ data.appointmentToEdit ? 'Edit Appointment' : 'Schedule a ' + data.serviceType }}
    </h3>
  </div>
  <mat-dialog-content align="center">
  <!-- TODO: Consolidate error messages -->
    <form class="border border-top-0 mb-5 p-4" [formGroup]="appointmentForm" (ngSubmit)="onSubmit(bookServiceForm)" #bookServiceForm="ngForm">
      <div class="row">
        <div class="row w-50">
          <mat-form-field>
            <input type="text" formControlName="name" placeholder="Name" matInput>
            <mat-icon fontIcon="person" matSuffix></mat-icon>
            <mat-error *ngIf="appointmentForm.controls.name?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="appointmentForm.controls.name?.hasError('pattern')">Name may only include letters and spaces</mat-error>
          </mat-form-field>
        </div>
        <div class="row w-50">
          <mat-form-field>
            <input type="email" formControlName="email"
              matInput placeholder="Email" matInput>
            <mat-icon fontIcon="email" matSuffix></mat-icon>
            <mat-error *ngIf="appointmentForm.controls.email?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="appointmentForm.controls.email?.hasError('pattern')">Please enter a valid email address</mat-error>
          </mat-form-field>
        </div>
        <div class="col w-25 mt-3">
          <div class="row phone-number-input w-50">
            <mat-form-field>
              <input type="text" formControlName="phoneNumber"
                matInput placeholder="Phone number" matInput>
              <mat-icon fontIcon="phone" matSuffix></mat-icon>
              <mat-error *ngIf="appointmentForm.controls.phoneNumber?.hasError('required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="appointmentForm.controls.phoneNumber?.hasError('pattern')">
                Please enter a 10-digit phone number
              </mat-error>
            </mat-form-field>
          </div>
          <div class="date-time-inputs mt-2 col offset-md-4">
            <div class="col">
              <mat-form-field>
                <mat-label>Select a date</mat-label>
                <input matInput formControlName="date" [matDatepicker]="datepicker" [min]="minDate" [max]="maxDate"/>
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                <mat-error *ngIf="appointmentForm.controls.date?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Select a time</mat-label>
                <input matInput [matTimepicker]="timepicker" formControlName="time" matTimepickerMin="09:00"
                matTimepickerMax="20:30">
                <mat-timepicker #timepicker/>
                <mat-timepicker-toggle [for]="timepicker" matSuffix/>
                <mat-error *ngIf="appointmentForm.controls.time?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row flex-row">
          <mat-checkbox class="d-flex justify-content-start" formControlName="isVirtual">Virtual meeting</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div mat-dialog-actions>
          <button type="submit" class="btn btn-primary mx-4" [disabled]="!appointmentForm.valid">
            {{ data.appointmentToEdit ? 'Update' : 'Schedule' }}
          </button>
          <button type="button" class="btn btn-danger" mat-dialog-close color="warn">Cancel</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>