<div class="container">
  <div mat-dialog-title><h3>Schedule a Reading</h3></div>
  <form [formGroup]="readingForm" (ngSubmit)="onSubmit(bookServiceForm)" #bookServiceForm="ngForm">
    <mat-form-field>
      <input type="text" formControlName="name" placeholder="Enter name" matInput>
      <mat-icon fontIcon="person" matSuffix></mat-icon>
      <mat-error *ngIf="!readingForm.value.name">This field is required</mat-error>
      <mat-error *ngIf="readingForm.value.name">Name may only include letters and spaces</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="email" formControlName="email"
        matInput placeholder="Enter email" matInput>
      <mat-icon fontIcon="email" matSuffix></mat-icon>
      <mat-error *ngIf="!readingForm.value.email">This field is required</mat-error>
      <mat-error *ngIf="readingForm.value.email">Please enter a valid email address</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" formControlName="phone_number"
        matInput placeholder="Enter phone number" matInput>
      <mat-icon fontIcon="phone" matSuffix></mat-icon>
      <mat-error *ngIf="!readingForm.value.phone_number">This field is required</mat-error>
      <mat-error *ngIf="readingForm.value.phone_number">Please, Enter 10 digit Mobile Number.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select a date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="datepicker" [min]="minDate" [max]="maxDate"/>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error *ngIf="!readingForm.value.date">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select a time</mat-label>
      <input matInput [matTimepicker]="timepicker" formControlName="time" matTimepickerMin="09:00"
      matTimepickerMax="20:30">
      <mat-timepicker #timepicker/>
      <mat-timepicker-toggle [for]="timepicker" matSuffix/>
      <mat-error *ngIf="!readingForm.value.time">This field is required</mat-error>
    </mat-form-field> 
    <br>
    <mat-checkbox formControlName="isVirtual"
      >Virtual</mat-checkbox>
    <div mat-dialog-actions>
      <button type="submit" [disabled]="!readingForm.valid" mat-flat-button>Schedule</button>
      <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
    </div>
  </form>
</div>