<div class="container">
  <h1 class="display-1 text-center mb-5">Events Management</h1>
  <div class="row w-75 my-auto mb-4">
    <div class="col">
      <button class="btn w-100 mt-0 p-2" (click)="openEventForm()" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Create Event</button>
    </div>
    <div class="col">
        <button class="btn w-100 mt-0 p-2" (click)="openBookAppointmentForm()" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Create Appointment</button>
    </div>
  </div>
</div>


