<!-- Filter Component -->
<app-event-filter></app-event-filter>
<ng-container *ngIf="includePast && unifiedSortedPastDates.length > 0">
  <h2 class="text-center text-secondary">Past Appointments and Events</h2>

  <!-- Past Appointments Section -->
  <ng-container *ngIf="hasPastAppointments">
    <h4 class="text-primary">Past Appointments</h4>
    <div *ngFor="let date of unifiedSortedPastDates" class="row">
      <div class="mb-4" *ngIf="pastAppointmentsGrouped[date]?.length">
        <div class="card mb-3 mx-2">
          <div class="card-header bg-primary text-white">
            {{ date }}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let appointment of pastAppointmentsGrouped[date]">
              <strong>Client: {{ appointment.name }}</strong><br>
              {{ appointment.date | date: 'shortTime' }}<br>
              Service: {{ appointment.type }}<br>
              Virtual: {{ appointment.isVirtual ? 'Yes' : 'No' }}<br>
              Email: {{ appointment.email }}<br>
              Phone: {{ appointment.phoneNumber }}<br>
              <span *ngIf="isAdmin && appointment.createdByAdmin">Created by admin: {{ appointment.createdByAdmin }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Past Events Section -->
  <ng-container *ngIf="hasPastEvents">
    <h4 class="text-success">Past Events</h4>
    <div *ngFor="let date of unifiedSortedPastDates" class="row">
      <div *ngIf="pastEventsGrouped[date]?.length">
        <div class="card mb-3 mx-2">
          <div class="card-header bg-success text-white">
            {{ date }}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let event of pastEventsGrouped[date]">
              <strong>{{ event.eventName }}</strong><br>
              {{ event.startDate | date: 'shortTime' }}<br>
              Type: {{ event.eventType }}<br>
              Virtual: {{ event.isVirtual ? 'Yes' : 'No' }}<br>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<h2 class="text-center text-secondary mt-5">Future Appointments and Events</h2>
<div *ngIf="unifiedSortedFutureDates.length > 0; else noFutureItems">

  <!-- Future Appointments Section -->
  <ng-container *ngIf="hasFutureAppointments">
    <h4 class="text-primary">Appointments</h4>
    <div *ngFor="let date of unifiedSortedFutureDates" class="row">
      <div class="col-md-6" *ngIf="filteredAppointmentsGrouped[date]?.length">
        <div class="card mb-3 mx-2">
          <div class="card-header bg-primary text-white">
            {{ date }}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let appointment of filteredAppointmentsGrouped[date]">
              <strong>Client: {{ appointment.name }}</strong><br>
              {{ appointment.date | date: 'shortTime' }}<br>
              Service: {{ appointment.type }}<br>
              Virtual: {{ appointment.isVirtual ? 'Yes' : 'No' }}<br>
              Email: {{ appointment.email }}<br>
              Phone: {{ appointment.phoneNumber }}<br>
              createdByAdmin: {{ appointment.createdByAdmin }}<br>
              <span *ngIf="isAdmin && appointment.createdByAdmin">Created by and Admin</span>
              <button class="btn btn-sm btn-danger mt-2" (click)="deleteAppointment(+appointment.id!)">
                Delete
              </button>
              <button
              *ngIf="canEditAppointment(appointment)"
              class="btn btn-sm btn-primary mt-2 mx-2"
              (click)="editAppointment(appointment)"
              >
              Edit Appointment
            </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Future Events Section -->
  <ng-container *ngIf="hasFutureEvents">
    <h4 class="text-success">Events</h4>
    <div *ngFor="let date of unifiedSortedFutureDates" class="row">
      <div class="col-md-6" *ngIf="filteredEventsGrouped[date]?.length">
        <div class="card mb-3 mx-2">
          <div class="card-header bg-success text-white">
            {{ date }}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let event of filteredEventsGrouped[date]">
              <strong>{{ event.eventName }}</strong><br>
              {{ event.startDate | date: 'shortTime' }}<br>
              Type: {{ event.eventType }}<br>
              Virtual: {{ event.isVirtual ? 'Yes' : 'No' }}<br>
              <div>
                <button *ngIf="isAdmin" class="btn btn-sm btn-primary mt-2 mx-3" (click)="openEditEventDialog(event)">
                  Edit Event Details
                </button>
                <button class="btn btn-sm btn-danger mt-2" (click)="deleteEvent(+event.id!)">
                  Delete
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #noFutureItems>
  <p class="text-muted text-center">No upcoming appointments or events found within the selected range.</p>
</ng-template>