<h1 class="display-1 text-center my-5">Welcome!</h1>

<div class="">
<h2 class="display-4">Appointments at a Glance</h2>
<!-- FUTURE APPOINTMENTS -->
  <div>
    <mat-form-field appearance="fill" class="mt-4 mb-3">
      <mat-label>Filter Appointments</mat-label>
      <mat-select (selectionChange)="onRangeChange($event)">
        <mat-option [value]="3">Next 3 Days</mat-option>
        <mat-option [value]="7">Next 7 Days</mat-option>
        <mat-option [value]="14">Next 14 Days</mat-option>
        <mat-option [value]="30">Next 30 Days</mat-option>
        <mat-option [value]="-1">All Future Appointments</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let date of getSortedKeys(filteredAppointments)">
      <h3 class="mx-4">{{ date }}</h3>
      <div *ngFor="let a of filteredAppointments[date]">
        <mat-card class="appointment-card my-4 mx-5 w-50">
          <mat-card-title class="text-center">Client: {{ a.name }}</mat-card-title>
          <mat-card-subtitle  class="text-center">{{ a.date | date: 'shortTime' }}</mat-card-subtitle>
          <mat-card-content>
            <p>Appointment Service: {{ a.type }}</p>
            <p>Virtual: {{ a.isVirtual ? 'Yes' : 'No' }}</p>
            <div>
              <h6>Contact Information</h6>
              <p>Email: {{ a.email }}</p>
              <p>Phone Number: {{ a.phone_number }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- PAST APPOINTMENTS -->
<div class="my-5">
  <hr class="w-75 mx-auto">
  <h2 class="display-4 my-4">Past Appointments</h2>

  <mat-form-field appearance="fill" class="mt-4 mb-3">
    <mat-label>Select Past Appointment Range</mat-label>
    <mat-select [(value)]="daysRange" (selectionChange)="onRangeChange($event)">
      <mat-option [value]="3">Last 3 Days</mat-option>
      <mat-option [value]="7">Last 7 Days</mat-option>
      <mat-option [value]="14">Last 14 Days</mat-option>
      <mat-option [value]="30">Last 30 Days</mat-option>
      <mat-option [value]="-1">All Past Appointments</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="getSortedKeys(filteredPastAppointments).length > 0">
    <div *ngFor="let date of getSortedKeys(filteredPastAppointments)">
      <h3 class="mx-4">{{ date }}</h3>
      <div *ngFor="let appointment of filteredPastAppointments[date]">
        <mat-card class="appointment-card my-4 mx-5 w-50">
          <mat-card-title class="text-center">Client: {{ appointment.name }}</mat-card-title>
          <mat-card-subtitle class="text-center">{{ appointment.date | date: 'shortTime' }}</mat-card-subtitle>
          <mat-card-content>
            <p>Appointment Service: {{ appointment.type }}</p>
            <p>Virtual: {{ appointment.isVirtual ? 'Yes' : 'No' }}</p>
            <div>
              <h6>Contact Information</h6>
              <p>Email: {{ appointment.email }}</p>
              <p>Phone Number: {{ appointment.phone_number }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div *ngIf="getSortedKeys(filteredPastAppointments).length === 0">
    <p>No past appointments available for the selected range.</p>
  </div>
</div>
