<div class="container">
  <div class="row">
    <div class="col-md-6 text-end">
      <mat-form-field appearance="fill" class="mt-4 mb-3 w-100">
        <mat-label>Show calendar items in range</mat-label>
        <mat-select (selectionChange)="onRangeChangeWrapper($event)" [value]="daysRange">
          <mat-option [value]="3">3 Days</mat-option>
          <mat-option [value]="7">7 Days</mat-option>
          <mat-option [value]="14">14 Days</mat-option>
          <mat-option [value]="30">30 Days</mat-option>
          <mat-option [value]="365">365 Days</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <mat-slide-toggle
        [checked]="includePast | async"
        (change)="handleIncludePastChangeWrapper($event.checked)">
        Include Past Appointments and Events
      </mat-slide-toggle>
    </div>
  </div>
</div>