<h2>Upcoming Appointments</h2>
<ng-container *ngIf="upcomingAppointments$ | async as upcoming">
  <div *ngIf="upcoming.length > 0; else noUpcoming">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let appointment of upcoming">
        <strong>{{ appointment.name }}</strong> - {{ appointment.type }}<br>
        Date: {{ appointment.date | date:'medium' }}<br>
        Mode: {{ appointment.isVirtual ? 'Virtual' : 'In-Person' }}
      </li>
    </ul>
  </div>
  <ng-template #noUpcoming><p>No upcoming appointments.</p></ng-template>
</ng-container>

<h2>Past Appointments</h2>
<ng-container *ngIf="pastAppointments$ | async as past">
  <div *ngIf="past.length > 0; else noPast">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let appointment of past">
        <strong>{{ appointment.name }}</strong> - {{ appointment.type }}<br>
        Date: {{ appointment.date | date:'medium' }}<br>
        Mode: {{ appointment.isVirtual ? 'Virtual' : 'In-Person' }}
      </li>
    </ul>
  </div>
  <ng-template #noPast><p>No past appointments.</p></ng-template>
</ng-container>