<div class="container">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-title><h3 class="text-center display-6">{{ data.authStep }}</h3></div>
  <mat-dialog-content align="center">
    <div>
      <mat-form-field>
        <input type="email" formControlName="email"
          matInput placeholder="Email" matInput>
        <mat-icon fontIcon="email" matSuffix></mat-icon>
        <mat-error *ngIf="authForm.get('email')?.errors">Please enter a valid email address</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="password" formControlName="password" placeholder="Password" matInput>
        <mat-icon fontIcon="person" matSuffix></mat-icon>
        <mat-error *ngIf="authForm.get('password')?.errors">Password must be be 8-20 characters, include one uppercase letter, one lowercase letter, and one special character (!&#64;#$%^&*()_+&#123;&#125;[]:;<>,.?~\-=/\\|)</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="data.authStep === 'Sign up'">
        <input type="password" formControlName="confirmPassword" placeholder="Confirm password" matInput>
        <mat-icon fontIcon="person" matSuffix></mat-icon>
        <mat-error *ngIf="authForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div>
      <button *ngIf="data.authStep === 'Sign up'" type="submit" [disabled]="authForm.invalid" class="btn btn-primary mx-4">Create Account</button>
      <button *ngIf="data.authStep === 'Sign up'" (click)="googleLogin()" class="btn btn-primary mx-4">
        <img src="assets/google-logo.png" alt="Google logo" style="width: 20px; height: 20px; margin-right: 8px;" />
        Sign up with Google</button>
    </div>
    <button *ngIf="data.authStep === 'Login'" type="submit" class="btn btn-primary mx-4">Log in</button>
    <button *ngIf="data.authStep === 'Login'" (click)="googleLogin()" class="btn btn-primary mx-4 my-3">
      <img src="assets/google-logo.png" alt="Google logo" style="width: 20px; height: 20px; margin-right: 8px;" />
      Login with Google
    </button>
</mat-dialog-actions>
</form>
<div class="m-4">
  <a (click)="resetPassword()" class="text-primary" style="cursor: pointer;">Forgot your password?</a>
</div>
</div>


<p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
<p *ngIf="successMessage" style="color: green">{{ successMessage }}</p>