<h1 class="display-1 text-center mb-5">Services</h1>
<div id="service-list" class="list-group mb-5">
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">Consultation</h5>
    </div>
    <p class="mb-2">Book a personalized consultation to discuss your needs, explore tailored solutions, and receive expert recommendations. Sessions are scheduled at your convenience and conducted in person or virtually, with flexible time slots to fit your schedule. Whether you’re seeking advice, planning a project, or exploring new opportunities, this consultation provides focused, one-on-one support.</p>
    <small>In-person and virtual services available</small>
    <button *ngIf="isUser" class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('readingButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div>
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">Workspace Organization</h5>
    </div>
    <p class="mb-2">A focused service to declutter, arrange, and optimize office or home work areas for greater productivity. By creating an efficient, functional layout, it helps reduce distractions and make daily tasks easier to manage.</p>
    <button *ngIf="isUser" class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('cleansingButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div>
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">Technology Setup Assistance</h5>
    </div>
    <p class="mb-2">Professional support for configuring devices, installing software, and optimizing settings for smooth performance. Whether setting up a new system or troubleshooting an existing one, this service ensures technology works seamlessly from day one.</p>
    <button *ngIf="isUser" class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('initiationButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div>
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">Community Classes & Workshops</h5>
    </div>
    <p class="mb-2">Engaging group sessions designed to share skills, knowledge, and practical tools in an interactive environment. Participants can connect with others, learn from experienced instructors, and apply new concepts in real-world situations.</p>
    <small>In-person and virtual services available</small>
    <button *ngIf="isUser" class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('workshopButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div>
</div>