<h1 class="display-1 text-center mb-5">Services</h1>
<div id="service-list" class="list-group mb-5">
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">IFA & Orisha Readings</h5>
    </div>
    <p class="mb-2">IFA and Orisha readings guide you to aligning with your destiny. Khepra provides support and follow up as well as the prescribed spiritual remedy.</p>
    <small>In-person and virtual services available</small>
    <button class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('readingButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div> 
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">Spiritual Baths & Soaps</h5>
    </div>
    <p class="mb-2">Spiritually charged soaps attract wealth and protection. They also clear away negative energy from the body and aura</p>
    <small>provides support and follow up as well as the prescribed spiritual remedy</small>
  </div>
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">House Cleansing</h5>
    </div>
    <p class="mb-2">wall cleansing in the home to establish positive vibrations and remove negative energies</p>
    <small>provides support and follow up as well as the prescribed spiritual remedy</small>
    <button class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('cleansingButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div>
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">Spiritual Rites and Initiation Rituals</h5>
    </div>
    <p class="mb-2">Khepra conducts naming ceremonies (Esentaye), receiving warriors, and initiations.</p>
    <small>Consultation required before initiation</small>
    <button class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('initiationButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div>
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-2 mb-3">Community Classes & Workshops</h5>
    </div>
    <p class="mb-2">Khepra arranges ancestral masquerades (Egungun), regularly hosts Egun ceremonies/Orisha song classes, and holds workshops.</p>
    <small>provides support and follow up as well as the prescribed spiritual remedy</small>
    <button class="btn float-end mt-0 mb-2 p-2" (click)="openServiceForm('workshopButton')" style="margin-left: 100px; width:100px; margin-top: 20px; color:white; background-color:blue;">Book</button>
  </div>
</div>