<h2>Services</h2>
<div id="service-list" class="list-group">
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">IFA & Orisha Readings</h5>
    </div>
    <p class="mb-1">IFA and Orisha readings guide you to aligning with your destiny. Khepra provides support and follow up as well as the prescribed spiritual remedy.</p>
    <small>In-person and virtual services available</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Spiritual Baths & Soaps</h5>
    </div>
    <p class="mb-1">Spiritually charged soaps attract wealth and protection. They also clear away negative energy from the body and aura</p>
    <small>provides support and follow up as well as the prescribed spiritual remedy</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">House Cleansing</h5>
    </div>
    <p class="mb-1">wall cleansing in the home to establish positive vibrations and remove negative energies</p>
    <small>provides support and follow up as well as the prescribed spiritual remedy</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Spiritual Rites and Initiation Rituals</h5>
    </div>
    <p class="mb-1">Khepra conducts naming ceremonies (Esentaye), receiving warriors, and initiations.</p>
    <small>Consultation required before initiation</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Community Classes & Workshops</h5>
    </div>
    <p class="mb-1">Khepra arranges ancestral masquerades (Egungun), regularly hosts Egun ceremonies/Orisha song classes, and holds workshops.</p>
    <small>provides support and follow up as well as the prescribed spiritual remedy</small>
  </a>
</div>