<div class="container">
  <footer class="row align-items-center py-3 my-4 border-top text-center text-md-start">    
    <div class="col-md-4 d-none d-md-block"></div>
    <div class="col-12 col-md-4 mb-3 mb-md-0 text-center">
      <span class="text-body-secondary">
        Created by <a style="text-decoration: none;" href="https://quinise.ercolano.com/" target="_blank" rel="noopener noreferrer">Quinise</a>
      </span>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
      <ul class="nav list-unstyled d-flex">
        <li class="mx-2 mx-3">
          <a class="text-body-secondary" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <img style="height: 40px" src="/assets/social-media/facebook.png" alt="Facebook">
          </a>
        </li>
        <li class="mx-2 mx-3">
          <a class="text-body-secondary" href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
            <img style="height: 40px" src="/assets/social-media/tiktok.png" alt="TikTok">
          </a>
        </li>
        <li class="mx-2 mx-3">
          <a class="text-body-secondary" href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
            <img style="height: 40px" src="/assets/social-media/youtube.png" alt="YouTube">
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>